<div id="brief-description">
  <h1>Hi, I'm Andrés Mejía-Posada and I'm awesome.</h1>
  <%= image_tag "me.jpg" %>
</div>

<div id="detailed-description">
  <div id="skills">
    <h1>Ninja skills</h1>
    <p>I'm a professional Ruby on Rails developer, and I love it.
    These are the tools I use in my day-to-day missions:</p>
    <ul>
      <li>Ruby on Rails</li>
      <li>Javascript + jQuery</li>
      <li>MySQL</li>
      <li>Other railities: Capistrano, Github, RSpec, TextMate</li>
    </ul>
  </div>

  <div id="about-me">
    <h1>Who I am</h1>
    <p>
      I'm based in Medellín, Colombia: The city of gangsters, street drugs, organized crime and incredible Rails developers.
    </p>
    
    <p>
      Java is my favorite programming language and I totally love sarcasm.
    </p>
    
    <p>
      On my free times, I'm also a guitar player, 4 ball juggler and recycled-milk-carton-wallets maker.
    </p>
  </div>

  <div id="feedback">
    <h1>Clients love me</h1>
    <p>
      <blockquote>
        I wish I could Xerox 5 of you.
      </blockquote>
      <blockquote>
        This guy is totally useless (I love sarcasm too). 
      </blockquote>
    </p>
  </div>
</div>