<%= meta_description "Personal site of Andrés Mejía-Posada, a highly skilled Ruby on Rails developer." %>

<div id="brief-description">
  <h1>Hi, I'm Andrés Mejía-Posada and I'm awesome.</h1>
  <%= image_tag "me.jpg" %>
</div>

<div id="detailed-description">
  <div id="skills">
    <h1>Ninja skills</h1>
    <p>I'm a professional Ruby on Rails developer.</p>
    <p>I love doing it: it's fun!</p>
    <p>I'm an assassin with the following technologies:</p>
    <ul>
      <li>Ruby on Rails</li>
      <li>Javascript + jQuery</li>
      <li>Other railities: Capistrano, Git and Github, RSpec, TextMate</li>
    </ul>
  </div>

  <div id="about-me">
    <h1>Who I am</h1>
    <p>
      <span style="text-decoration:line-through;">I'm based in Medellín, Colombia: The city of gangsters, street drugs, organized crime and amazing Rails developers.</span>
    </p>

    <p>
      <span style="text-decoration:line-through;">I moved to Bordeaux, France: The city of great wines, smelly cheeses and amazing Rails developers.</span>
    </p>

    <p>
      Back to Medellín, Colombia.
    </p>

    <p>
      On my free times, I'm also a guitar player, 4 ball juggler and recycled-milk-carton-wallet maker.
    </p>
  </div>

  <div id="feedback">
    <h1>Clients love me</h1>
      <blockquote>
        <p>I wish I could Xerox 5 of you.</p>
      </blockquote>
      <div class="author">
        <%= link_to "Chris Batliner, GreenGanic.com", "http://www.greenganic.com" %>
      </div>
      <blockquote>
        <p>OK. I definitely want more Andy time.</p>
      </blockquote>
      <div class="author">
        <%= link_to "Matt Howes, RiseTribe.com", "http://www.risetribe.com" %>
      </div>
  </div>
</div>
