<div id="brief-description">
  <h1>Hi, I'm Andrés Mejía-Posada and I'm awesome.</h1>
  <%= image_tag "me.jpg" %>
</div>

<div id="detailed-description">
  <div id="skills">
    <h1>Ninja skills</h1>
  </div>

  <div id="about-me">
    <h1>Who I am</h1>

  </div>

  <div id="feedback">
    <h1>Clients love me</h1>
  </div>
</div>