<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="Andrés Mejía">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700" rel="stylesheet" type="text/css">

  <title>Andrés Mejía</title>

  <link rel="stylesheet" href="/stylesheets/reset.css"/>
  <link rel="stylesheet" href="/stylesheets/blog.css" />
  <link rel="stylesheet" href="/stylesheets/pygments.css" />
  <link rel="stylesheet" href="/stylesheets/mobile.css" />

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107586996-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107586996-1');
  </script>
</head>

<!-- This HTML is handcrafted. I hope yours is too. -->

<body>
  <div id="content">
  <article>
    <p>
      My name is <strong>Andrés Mejía</strong>. I’m a <strong>Software Engineer</strong> who’s been playing with these things called computers since I was 10, when my father gave me one for Christmas. (It was a 300 MHz Pentium II with 64MB of RAM &mdash;
 the fastest on the market at the time.)
    </p>

    <p>
      I got into programming as an early teenager when a friend showed me a program called <a href="/images/netbus.gif">NetBus</a>. It allowed you to remotely open your friend's CD-ROM tray and other funny pranks. I was so fascinated with the idea that I started researching online and several months later I had taught myself Delphi/Pascal and was able to write a piece of malware that I could call my own!
    </p>

    <p>
      You can find my open source contributions on <a href="https://github.com/mejito">GitHub</a>, but since I joined my current company I've been laser-focused on my job so there's not much recent activity.</p>

    <p>
      You can reach me at <a href="mailto:andr@esmejia.com">andr@esmejia.com</a>.
    </p>
  </article>
</div>

</body>
</html>
