#disqus_thread {
  padding: 20px;
  margin-bottom: 0px !important;
  color: #352A45;
  
  a {
    text-decoration: none;
    border-bottom: 1px dotted #553687 !important;
    color: #553687;
  }

  a:hover {
    background-color: #bbb3c7;
  }
  
  .dsq-toolbar-item {
    opacity: 0.7;
  }
  
  .dsq-comment-meta, .dsq-comment-actions {
    overflow: visible;
    a {
       opacity: 0.9;
    }
  }
  
  #dsq-footer {
    em {
      text-decoration: none;
    }
  }
  
  .dsq-item-trackback, .dsq-trackback-url, .dsq-item-sort, #dsq-sort-select { /* Hide some parts of Disqus that I don't like. */
    display: none;
  }
}