#footer {
  height: 357px;
  width: 962px;
  background: url(/images/footer.png);
  margin-top: 40px;
  color: #d3cddc;
  
  a {
    color: #d98de2;
  }
  
  #latest-tweets, #latest-posts {
    float: left;
    width: 460px;
    height: 280px;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 1.3em;
    
    h1 {
      text-indent: -9999em;
      height: 30px;
      display: block;
    }
    
    a {
      color: #d98de2;
    }
    
    .tweet, .post {
      padding: {
        top: 18px;
        left: 10px;
        right: 10px;
      }
    }
  }

  
  #open-source {
    clear: both;
    margin-left: 80px;
    padding-left: 10px;
    padding-top: 5px;
    line-height: 44px;
    font-size: 18px;
    width: 230px;
    text-align: center;
    a {
      color: #551A8B;
    }
  }
}