#brief-description {
  text-indent: -9999em;
  background: url(/images/brief-description.png) no-repeat;
  height: 218px;
  width: 942px;
  margin: {
    left: 8px;
    top: 20px;
  }  

  h1 {
    float: left;
    width: 710px;
    height: 218px;
    display: block;
  }

  img {
    float: right;
    margin-top: 30px;
    margin-right: 32px;
    height: 153px;
    width: 200px;
  }
}

#detailed-description {
  clear: both;
  background: url(/images/detailed-description.png) no-repeat;    
  color: #352a45;
  width: 802px;
  height: 297px;
  margin: {
    top: 40px;
    left: 80px;
  }

  p {
    padding-bottom: 10px;
  }

  ul {
    padding-left: 2px;
    list-style: none;
    li {
      background-image: url(/images/bullet.png);
      background-repeat: no-repeat;
      padding-left: 25px;
    }
  }

  #feedback {
    blockquote {
      display: block;
      padding: 0 60px;
      width: 140px;
    }

    blockquote:before, blockquote:after {
      color: #533683;
      display: block;
      font-size: 600%;
      font-family: "Helvetica", "Arial", sans-serif;
      width: 50px;
    }

    blockquote:before {
      content: open-quote;
      height: 22px;
      margin-left: -50px;
    }

    blockquote:after {
      content: close-quote;
      height: 60px;
      margin-top: -60px;
      margin-left: 158px;
    }

    .author {
      text-align: right;
      padding-bottom: 20px;
      width: 240px;
      padding-right: 20px;
      margin: 0;

      a {
        text-decoration: none;
        border-bottom:1px dotted #553687;
        color: #733687;
      }

      a:hover {
        background-color: #bbb3c7;
      }
    }
  }

  div {
    float: left;
    background: transparent;
    width: 244px;
    margin: {
      left: 17px;
      top: 14px;
    }

    h1 {
      text-indent: -9999em;
      margin-bottom: 25px;
      background-color: transparent;
    }
  }
}