#brief-description {
  text-indent: -9999em;
  background: url(/images/brief-description.png) no-repeat;
  height: 218px;
  width: 942px;
  margin-left: 8px;
  
  img {
    margin-left: 710px;
    margin-top: 11px;
    height: 153px;
    width: 200px;
  }
}