#container .post {
  width: 802px;
  margin: 0 auto 20px;
 .header {
   min-height: 98px;
   background: url(/images/post-header.png) no-repeat;
   font-family: 'Droid Sans', "Helvetica Neue", "Helvetica", "Arial", sans-serif;   
   
   .title {
     float: left;
     width: 670px;
     padding-top: 20px;
     padding-left: 20px;
     margin-top: 10px;
     font-size: 32px;
     color: #553687;
     line-height: 1.3em;
   }
   
   .date {
     float: right;
     width: 80px;
     margin-right: 31px;
     margin-top: 6px;
     text-align: center;
     font-size: 36px;
     color: #d0c9d9;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
   }
 } 
 
 .body {
   background: url(/images/post-background.png) repeat-y;
   padding: 10px 30px 20px;
   line-height: 1.5em;
   font-size: 1.1em;
 }
 
 .footer {
   height: 47px;
   background: url(/images/post-footer.png) no-repeat;
   
   .comments {
     margin-left: 43px;
     line-height: 32px;
     padding-top: 7px;
     width: 158px;
     text-align: center;
     color: #b074bf;
     font-family: 'Droid Sans', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
     font-size: 18px;
   }
 }
}