body {
  width: 960px;
  background-image: url(/images/background.png);
  margin: auto;
  font-size: 15px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;    
}

.clear {
  clear: both;
}

.hide {
  display: none;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}