<div id="footer">
  <div id="latest-tweets">
    <h1>Latest tweets</h1>
  </div>

  <div id="latest-posts">
    <h1>Latest posts</h1>
    
  </div>
  
  <%= link_to "This site is open source", "#" %>
</div>