<div id="footer">
  <div id="latest-tweets">
    <h1>Latest tweets</h1>
    <%= render :partial => "shared/latest_tweets", :locals => { :tweets => Twitter::Search.new.from("andmej").fetch.results } %>
  </div>

  <div id="latest-posts">
    <h1>Latest posts</h1>
    <%= render :partial => "shared/latest_posts" %> 
  </div>
  
  <div id="open-source">
    <%= link_to "This site is open source", "http://github.com/andmej/andr.esmejia" %>
  </div>
</div>