<div id="footer">
  <div id="latest-tweets">
    <h1>Latest tweets</h1>
    Obladi, Oblada.
  </div>

  <div id="latest-posts">
    <h1>Latest posts</h1>
    Obladi, Oblada.    
  </div>
  
  <div id="open-source">
    <%= link_to "This site is open source", "#" %>
  </div>
</div>