<div id="header">
  <h1>
    <%= link_to "Andrés Mejía", root_path %>
  </h1>
  
  <ul id="navigation">
		<li id="tab-home">
      <%= link_to "Home", root_path %>
		</li>
		<li id="tab-blog">
      <%= link_to "Blog", "#" %>
		</li>				
		<li id="tab-contact">
      <%= link_to "Contact", "#" %>
		</li>
	</ul>
</div>
