<% tweets[0...3].each do |tweet| %>
<div class="tweet">
  <div class="text">
    <%= auto_link_with_twitter(tweet.text) %>
  </div>
  <div class="date">
      <%= link_to "#{time_ago_in_words tweet.created_at} ago", tweet_url(tweet.from_user, tweet.id) %>
  </div>
</div>
<% end %>