<h1>Login</h1>

<div>
  Please enter the master password to make changes.
</div>

<div>
  <%= form_for :session, :url => user_session_url, :method => :post do |f| %>
    <b><%= f.label :password, "Password:" %></b>
    <%= f.password_field :password %>
  <% end %>
</div>
